#SECRET_KEY='django-insecure-$+#5d#@i)w$$hnzb8xbgii@iz9a56pd0=_kkbe=z%l^qjijpoh'
#DEBUG=True
#ALLOWED_HOSTS=127.0.0.1,localhost
#DATABASE_ENGINE=sqlite

#DATABASE_ENGINE=mysql
#DB_NAME=apart_booking
#DB_USER=apart_booking_user
#DB_PASSWORD=??????????
#DB_HOST=localhost
#DB_PORT=3306
#DB_ROOT_PASSWORD=????????